</main>
<footer>
    <div class="contact">
        <div class="contactMethod">
            <i class="fas fa-phone-alt"></i>
            <span>+569-66879699</span>
        </div>
        <div class="contactMethod">
            <i class="far fa-envelope"></i>
            </svg>
            <span>d.sepulveda.perez@gmail.com</span>
        </div>
    </div>
    <div class="info">
        <span>Mindhub 2021</span>
    </div>
</footer>
<script defer src="https://kit.fontawesome.com/f119dc4da4.js" crossorigin="anonymous"></script>
<script defer src="/js/alertify.min.js"></script>

<!-- <script defer src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script> -->
<script defer src="/js/main.js"></script>
</body>

</html>