</main>
<footer>
    <div class="contact">
        <div class="contactMethod">
            <i class="fas fa-phone-alt"></i>
            <span>+569-66879699</span>
        </div>
        <div class="contactMethod">
            <i class="far fa-envelope"></i>
            </svg>
            <span>d.sepulveda.perez@gmail.com</span>
        </div>
    </div>
    <div class="info">
        <span>Mindhub 2021</span>
    </div>
</footer>