<body>
    <header>
        <nav>
            <img src="./assets/logo.png" alt="">
            <a href="/escritorio">
                <i class="fas fa-tachometer-alt"></i>
                <span>Escritorio</span>
            </a>
            <p>Ventas</p>
            <a href="/nueva-venta" class="active">
                <i class="fas fa-cash-register"></i>
                <span>Nueva</span>
            </a>
            <a href="/historial-ventas">
                <i class="far fa-file-alt"></i>
                <span>Historial</span>
            </a>
            <!-- <p>Compras</p>
    <a href="/nueva-compra">
        <i class="fas fa-shopping-bag"></i>
        <span>Nueva</span>
    </a>
    <a href="/historial-compras">
        <i class="far fa-file-alt"></i>
        <span>Compras</span>
    </a> -->
            <p>Negocio</p>
            <a href="/crear-cuenta">
                <i class="fas fa-address-card"></i>
                <span>Nuevo Empleado</span>
            </a>
            <a href="/productos">
                <i class="fas fa-bread-slice"></i>
                <span>Productos</span>
            </a>

        </nav>
    </header>

    <main>
        <div class="storeInformation">
            <h1>
                <%= heading %>
            </h1>
            <div class="headerInfo">

            </div>
            <div class="user">
                <span>Welcome, Tony</span>
                <div class="userPic" style="background-image: url('./assets/ironman.png');"></div>
            </div>
        </div>