<%- include('partials/head.ejs') %>
    <div class="mainContainer">
    </div>
    <%- include('partials/footer.ejs') %>
        <script src="https://kit.fontawesome.com/f119dc4da4.js" crossorigin="anonymous"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        </body>

        </html>