<%- include('partials/head.ejs') %>
    <%- include('partials/header.ejs') %>
        <div class="mainContainer">
        </div>
        <%- include('partials/footer.ejs') %>

            <script src="https://kit.fontawesome.com/f119dc4da4.js" crossorigin="anonymous"></script>
            </body>

            </html>