<%- include('partials/head.ejs') %>
    <%- include('partials/header.ejs') %>
        <div class="mainContainer">
            <%sales.forEach((sale)=>{%>
                <h1>hola</h1>
                <%})%>
        </div>
        <%- include('partials/footer.ejs') %>